.titleContainer{
  margin: 0px auto;
  margin-top: 30%;
  max-width: 960px;
  padding: 1.45rem 1.0875rem;
}

h1, h2, p {
  color: aqua;
}

.blogPost {
  color: blue; 
}

.htmlContent {
  color: greenyellow;
  
  p {
    color: blueviolet;
  }
}