@import "../../assets/variables";

title {
  color: #7b542a;
}

.blogPost {
  padding: 8px;
  margin: 1rem;
  background-color: $color-main;
  background-image: url(../../images/Dust.png);
  background-size: contain;
  
  &.h1{
    color: $color-text-headers;
  }
}