$color-main: #61892F;
$color-accent: #86C232;
$color-black: #222629;
$color-dark: #474B4F;
$color-gray: #6B6E70;
$color-white: #fff;

$color-text-main: $color-white;
$color-text-headers: $color-white;

$headlight-font: TheLastCall;
$font-stack: Madefor,HelveticaNeue,sans-serif;